@{
    ViewBag.Title = "Minecraft Command Generator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="command-generator">
        <h2 class="mt-4">Generate Your Command</h2>
        <form id="commandForm">
            <div class="mb-3">
                <label for="commandType" class="form-label">Command Type:</label>
                <select id="commandType" name="commandType" class="form-select">
                    <option value="give">Give</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="playerName" class="form-label">Player Name:</label>
                <input type="text" id="playerName" name="playerName" class="form-control" placeholder="Enter player name">
            </div>


            <div class="mb-3">
                <label for="item" class="form-label">Select or Search Item:</label>
                <select id="item" name="item" class="form-select">
                    <option value="search" disabled selected>Search...</option>
                    <optgroup label="Weapons">
                        <option value="iron_sword">Iron Sword</option>
                        <option value="diamond_sword">Diamond Sword</option>
                        <option value="gold_sword">Gold Sword</option>
                        <option value="stone_sword">Stone Sword</option>
                        <option value="wooden_sword">Wooden Sword</option>
                        <option value="iron_axe">Iron Axe</option>
                        <option value="diamond_axe">Diamond Axe</option>
                        <option value="gold_axe">Gold Axe</option>
                        <option value="stone_axe">Stone Axe</option>
                        <option value="wooden_axe">Wooden Axe</option>
                    </optgroup>
                    <optgroup label="Tools">
                        <option value="iron_pickaxe">Iron Pickaxe</option>
                        <option value="diamond_pickaxe">Diamond Pickaxe</option>
                        <option value="gold_pickaxe">Gold Pickaxe</option>
                        <option value="stone_pickaxe">Stone Pickaxe</option>
                        <option value="wooden_pickaxe">Wooden Pickaxe</option>
                    </optgroup>
                    <optgroup label="Armor">
                        <option value="diamond_helmet">Diamond Helmet</option>
                        <option value="iron_helmet">Iron Helmet</option>
                        <option value="gold_helmet">Gold Helmet</option>
                        <option value="leather_helmet">Leather Helmet</option>
                    </optgroup>
                </select>
            </div>


            <button type="button" id="toggleEnchantments" class="btn btn-secondary mb-3">Toggle Enchantments</button>

            <div id="enchantmentsContainer" style="display: none;">
                <div class="mb-3">
                    <label class="form-label">Enchantments:</label>
                    <div id="enchantmentsList" class="column-view">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1" class="form-control">
            </div>

            <button type="button" onclick="generateCommand()" class="btn btn-success">Generate Command</button>
        </form>

        <div class="container">
            <section class="command-generator">
                <div id="generatedCommand" class="mt-4"></div>
                <button type="button" id="copyButton" onclick="copyToClipboard()" class="btn btn-primary" disabled>Copy to Clipboard</button>
                <div id="copyMessage" class="alert alert-success mt-3" style="display: none;" role="alert"></div>
            </section>
        </div>
        <a href="@Url.Action("Index", "Comment")" class="btn btn-primary mt-3">View Comments</a>

    </section>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

<script>
    $(document).ready(function () {
        $('#toggleEnchantments').click(function () {
            $('#enchantmentsContainer').toggle();
        });

        var enchantments = [
            { name: 'Protection', id: 'protection' },
            { name: 'Sharpness', id: 'sharpness' },
            { name: 'Efficiency', id: 'efficiency' },
            { name: 'Fire Aspect', id: 'fire_aspect' },
            { name: 'Unbreaking', id: 'unbreaking' },
            { name: 'Fortune', id: 'fortune' },
            { name: 'Looting', id: 'looting' },
            { name: 'Power', id: 'power' },
            { name: 'Infinity', id: 'infinity' },
            { name: 'Respiration', id: 'respiration' },
            { name: 'Aqua Affinity', id: 'aqua_affinity' },
            { name: 'Bane of Arthropods', id: 'bane_of_arthropods' },
            { name: 'Blast Protection', id: 'blast_protection' },
            { name: 'Depth Strider', id: 'depth_strider' },
            { name: 'Feather Falling', id: 'feather_falling' },
            { name: 'Flame', id: 'flame' },
            { name: 'Frost Walker', id: 'frost_walker' },
            { name: 'Knockback', id: 'knockback' },
            { name: 'Luck of the Sea', id: 'luck_of_the_sea' },
            { name: 'Mending', id: 'mending' },
            { name: 'Projectile Protection', id: 'projectile_protection' },
            { name: 'Punch', id: 'punch' },
            { name: 'Silk Touch', id: 'silk_touch' },
            { name: 'Sweeping Edge', id: 'sweeping_edge' },
        ];


        var enchantmentsHtml = '';
        enchantments.forEach(function (enchantment) {
            enchantmentsHtml += '<div class="form-check enchantment-item">';
            enchantmentsHtml += '<input class="form-check-input" type="checkbox" id="' + enchantment.id + '" name="enchantments" value="' + enchantment.id + '">';
            enchantmentsHtml += '<label class="form-check-label" for="' + enchantment.id + '">' + enchantment.name + '</label>';
            enchantmentsHtml += '<input type="number" class="form-control" id="' + enchantment.id + 'Level" placeholder="Level" min="0" disabled>';
            enchantmentsHtml += '</div>'; 
        });

        $('#enchantmentsList').html(enchantmentsHtml);
        $('#enchantmentsList').html(enchantmentsHtml);

        $('input[name="enchantments"]').change(function () {
            var enchantmentId = $(this).val();
            $('#' + enchantmentId + 'Level').prop('disabled', !$(this).is(':checked'));
        });

        var clipboard = new ClipboardJS('#copyButton', {
            text: function () {
                return $('#generatedCommand').text();
            }
        });

        clipboard.on('success', function (e) {
            console.log('Command copied to clipboard:', e.text);
            e.clearSelection();

            $('#copyMessage').text('Your command copied to clipboard!').fadeIn().delay(2000).fadeOut();
        });

        clipboard.on('error', function (e) {
            console.error('Error copying command to clipboard:', e.trigger);
        });
    });

    function generateCommand() {
        var commandType = $('#commandType').val();
        var playerName = $('#playerName').val();
        var item = $('#item').val();
        var quantity = $('#quantity').val();

        var enchantments = [];
        $('input[name="enchantments"]:checked').each(function () {
            var enchantment = $(this).val();
            var level = $('#' + enchantment + 'Level').val();
            enchantments.push({ id: enchantment, lvl: level });
        });

        var command = '/give ' + playerName + ' ' + item + '{Enchantments:[';
        enchantments.forEach(function (enchantment, index) {
            command += '{id:' + enchantment.id + ',lvl:' + enchantment.lvl + '}';
            if (index < enchantments.length - 1) {
                command += ',';
            }
        });
        command += ']} ' + quantity;

        $('#generatedCommand').text(command);
        $('#copyButton').removeAttr('disabled');

    }
    
</script>
